$texts_fonts: 'IBM Plex Mono', monospace;
$titles_fonts: 'IBM Plex Sans', sans-serif;


$primary-color: #FFFFFF;
$secondary-color: #0000EC;
$bg-nav-color: #ffffffcb;
$bg-gradient:  linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$button-color: #00F3BB;
$hover-color: linear-gradient(225deg, #0000FE 5%, #00F0B8 100%);
$font-color: #060A24;